<div class="container">
  <h1>Stupid Coaching</h1>



<div class="card">

<h6><%= @user_input %></h6>
<p> - You </p>
 
</div>
<div class="card">
 <h6><%= @coach_answer %></h6>
<p> - Your coach </p>
</div>

<%=link_to 'Ask a new question', ask_path %>

</div>
